    <meta charset="UTF-8">
    <title>OpenTok Broadcast Sample App</title>

    <link rel="stylesheet" href="css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <script src="js/util/otkanalytics.js" type="text/javascript"></script>
    <script src="js/util/analytics.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ramda/0.21.0/ramda.min.js" type="text/javascript" defer></script>
    <script src="https://cdn.jsdelivr.net/es6-promise/3.1.2/es6-promise.min.js" type="text/javascript" defer></script>
    <script src="https://static.opentok.com/v2/js/opentok.min.js" type="text/javascript" defer></script>