.main-container {
    width: 90vw;
    height: 85vh;
    margin: 0 auto;
    border: 1px solid #0099cb;
    border-radius: 6px;
    padding: 10px;
}

.main-container.player {
    min-height: 535px;
}

.video-wrap {
    height: 100%;
    display: flex;
}

.video-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.video-container:empty {
    width: 0;
}

.fp-player {
    display: flex;
    justify-content: center;
    align-content: center;
}

.fp-ratio,
.fp-ui,
.fp-help,
.fp-subtitle {
    display: none;
}

.video-container .OT_publisher,
.video-container .OT_subscriber {
    position: relative;
    margin: 0 5px;
}

.OT_publisher .OT_name.OT_edge-bar-item.OT_mode-off,
.OT_subscriber .OT_name.OT_edge-bar-item.OT_mode-off {
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: 20px;
    margin: 0 auto;
    opacity: 1;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 125px;
    border-radius: 20px;
}

.banner {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}

.banner .text {
    color: #0099cb;
    font-size: 34px;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 1px;
}

.banner .text.red {
    color: #E04E4E;
}

.controls-container {
    margin: 15px 0 10px 0;
    text-align: center;
    color: #696868;
    font-family: Arial, Helvetica, sans-serif;
}

.controls-container .url {
    width: 90%;
    color: #E04E4E;
    font-size: 16px;
    display: inline-block;
    border: 1px solid grey;
    padding: 3px 5px;
    border-radius: 3px;
}

.url-container {
    width: 90vw;
    margin: 0 auto;
    position: relative;
}

.tooltip {
    position: absolute;
}

.tooltip.copy {
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -kthtml-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.url-container .tooltip.copy {
    position: absolute;
    color: #E04E4E;
    font-family: Arial, Helvetica, sans-serif;
    top: -30px;
    right: 10px;
}

.btn-broadcast {
    background-color: #0099cb;
    box-shadow: 0 0 0 1px #0099cb;
    color: #fff !important;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    margin: 5px 0;
    padding: 5px 10px;
    border: 0;
    border-radius: 0;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -kthtml-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.btn-broadcast:hover {
    text-decoration: none;
    background-color: #007ba3;
    box-shadow: 0 0 0 2px #0099cb
}

.btn-broadcast.active {
    background-color: #E04E4E;
    box-shadow: 0 0 0 1px #E04E4E;
}

.btn-broadcast.active:hover {
    background-color: #692B2B;
    box-shadow: 0 0 0 2px #E04E4E
}

.btn-broadcast:disabled {
    background-color: darkgrey;
    box-shadow: 0 0 0 2px darkgrey;
    cursor: default;
}

.btn-copy {
    position: relative;
    vertical-align: top;
    display: inline-block;
    height: 26px;
    width: 26px;
    cursor: pointer;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid grey;
    border-radius: 3px;
}

.btn-copy img {
    height: 85%;
    width: 85%;
    position: absolute;
    top: 2px;
    left: 2px;
}

.hidden {
    display: none;
}

.opacity-0 {
    opacity: 0;
}