<!DOCTYPE html>
<html lang="en">
<head>
    <% include('../partials/common-header.ejs') %>
    <script src="https://releases.flowplayer.org/6.0.5/flowplayer.min.js" defer></script>
    <script src="https://releases.flowplayer.org/hlsjs/flowplayer.hlsjs.min.js" defer></script>
    <script src="js/broadcast.js" type="text/javascript"></script>
</head>

<body>
    <div id="main" class="main-container">
        <div id="videoContainer" class="video-container">
        </div>
    </div>
</body>

</html>