<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <script src="js/hls-viewer.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@1"></script>
</head>

<body>
  <div id="credentials" style="display:none;" data="<%= credentials %>"></div>
  <div id="main" class="main-container">
    <div id="banner" class="banner">
      <span id="bannerText" class="text">Waiting for Broadcast to Begin</span>
    </div>
    <div id="videoContainer" class="video-container hidden">
      <video id="video" autoplay controls></video>
    </div>
    <div id="play-video-container" class="hls-play-video hidden">
      <div class="button-container">
        <h3>The broadcast has started - Click to play the video</h3>
        <button id="play-video" class="btn-broadcast">Play Video</button>
      </div>

    </div>
  </div>
</body>

</html>