<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/common-head %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/1.0.0/fetch.min.js" type="text/javascript" defer></script>
        <script src="js/util/api.js" type="text/javascript"></script>
        <script src="js/host.js" type="text/javascript"></script>
</head>

<body>
    <div id="credentials" style="display:none;" data="<%= credentials %>"></div>
    <div id="main" class="main-container">
        <div id="videoContainer" class="video-container"></div>
    </div>
    <div class="controls-container">
        <button id="startStop" class="broadcast-btn hidden">Start Broadcast</button>
        <div id="urlContainer" class="hidden">
            <span>Broadcast URL:</span><span id="broadcastURL" class="url"></span>
        </div>
    </div>
</body>

</html>