<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/common-head %>
    <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
    <script src="js/viewer.js" type="text/javascript"></script>
</head>

<body>
    <div id="credentials" style="display:none;" data="<%= credentials %>"></div>
    <div id="main" class="main-container">
        <div id="banner" class="banner">
            <span id="bannerText" class="text">Waiting for Broadcast to Begin</span>
        </div>
        <div id="videoContainer" class="video-wrap">
            <div id="hostContainer" class="video-container"></div>
            <div id="guestContainer" class="video-container"></div>
        </div>
    </div>
</body>

</html>